<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Qrious</title>
    <link rel="stylesheet" href="{% static 'Qriousapp/css/login-style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
    <style>
       
    </style>
  <body>
    <div id="content-wrapper">
      <h1 style="font-family:'sedgwick'">QRIOUS</h1>
      <button class="btn" onclick="window.location.assign('/accounts/google/login/?process=login')">LOG IN</button>
    </div>
  </body>
</html>